<!DOCTYPE html>
<html ng-app="articles">
  <head>
    <title>List of articles (Angular JS)</title>
    <!-- Twiter bootstrap for basic styling. -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
	 <link rel="stylesheet" href="assets/custom.css" />
  </head>
  <body>
  	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-translate/angular-translate.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="bower_components/angular-smart-table/dist/smart-table.js"></script>
  	<script type="text/javascript" src="readarticles.js"></script>
    <div id="content" ng-controller="CommentsController">
		<h3>
			<b> Articles List using Angular JS (+ smart-table )</b>
		</h3>
		<hr>
        		
		<table st-table="listarts" class="table">
			<thead>
			<tr>
				<th></th>
				<th st-sort="title">{{ 'TITLE' | translate }}</th>
				<th st-sort="views">{{ 'VIEWS' | translate }}</th>
				<th st-sort="author">{{ 'AUTHOR' | translate }}</th>
				<th>{{ 'DESCRIBE' | translate }}</th>
				<th>{{ 'COMMENTS' | translate }}</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="listart in listarts">
				<td></td>
				<td>
					<span></span> 
					 <div contenteditable="true" ng-model="listart.title" on-ready="addUpdatedItem(listart.title)">  
                   	  {{listart.title }}
                	 </div>	

				</td>
				<td>{{listart.views}}</td>
				<td>{{listart.author | uppercase}}</td>
				<td>{{listart.description }}</td>
				<td ng-show="listart.canEdit"> 
					<span></span> 
					 <div contenteditable="true" ng-model="listart.comments[0]" on-ready="addUpdatedItem(listart.comments[0])">  
                   	  {{listart.comments[0]}}
                	 </div>
					</td>
			</tr>
			</tbody>
		</table>
						
	</div>
	<hr>
	<div id="all_comments">
	 <div ng-view> </div>  
	</div> 
	<hr>
    <div class="footer">
		<a href="#/en" ng-click="changeLanguage('en')"> {{ 'BUTTON_LANG_EN' | translate }} </a> 
		<a href="#/es" ng-click="changeLanguage('en')"> {{ 'BUTTON_LANG_ES' | translate }} </a>
	</div>
  </body>
</html>


