.updated-cell {
    position: absolute;
    border-style: solid;
    border-width: 4px;
    border-color: #008000 transparent transparent #008000; 
    margin: -0.51em 0px 0px -0.6em;
    overflow: hidden;
    vertical-align: top;
}
